<div class="nav-bar">
    <div class="container">
        <div class="row">
            <div class="col-2 logo">
                <a href="#">Sophia</a>
            </div>
            <div class="col-8 navi d-flex justify-content-center">
                <ul>
                    <!-- <li class="dropdown">
                        <button class="dropbtn text-uppercase">Why Us</button>
                        <div class="dropdown-content">
                            <a routerLink="/why-us/overview">Overview</a>
                            <a routerLink="/why-us/customer-centric-approach">Customer Centric Approach</a>
                            <a routerLink="/why-us/the-team">The Team</a>
                        </div>
                    </li> -->
                    <li><a href="#">Home</a></li>
                    <li><a href="#" routerLink="/product">Products</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Wish List</a></li>
                    <li><a href="#" routerLink="/auth">Account</a></li>
                    <li><a href="#">Cart</a></li>

                </ul>
            </div>
            <div class="col-2 cart">
                <a href="#">
                    <i class="fa-solid fa-cart-shopping"></i> 
                    <span class="amopunt">$0.00</span>
                    <span class="count">8</span>
                </a>
            </div>
        </div>
    </div>
</div>