<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 com-breif">
                <h1>Sophia</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada fringilla sem, at dictum lectus ultricies quis. Etiam eu bibendum orci. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada fringilla sem, at dictum lectus ultricies quis. Etiam eu bibendum orci. Aliquam erat volutpat.</p>
            </div>
            <div class="col-12 col-md-4 col-lg-4 services">
                <h1>Services</h1>
                <ul>
                    <li><a href="#">Hotel Growth</a></li>
                    <li><a href="#">Hotel Loan</a></li>
                    <li><a href="#">Financial Planning</a></li>
                    <li><a href="#">Insurance Consulting</a></li>
                    <li><a href="#">Retirenment Planing</a></li>
                    <li><a href="#">Tax Planing</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-4 contactus">
                <h1>Contact Us</h1>
                <p><i class="fa-solid fa-location-dot"></i> Apple St, New York, NY 10012, USA</p>
                <p><i class="fa-solid fa-phone"></i> ( 018) 65 524 8503 / (125) 954 7854</p>
                <p><i class="fa-solid fa-envelope"></i> contact@ilyasahmed.com</p>
            </div>
        </div>
    </div>
</div>