<div class="small-product-card">
    <div class="card" style="width: 20rem;">
        <div class="row">
            <div class="col-4">
                <img class="card-img-top" src="{{data.img}}" alt="Card image cap">
            </div>
            <div class="col-8 pl-0">
                <div class="card-body p-2">
                    <h5 class="card-title">{{data.title}}</h5>
                    <div class="ranking">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="cart">
                        <p>{{data.amount}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>